$opacity: 0.7;

.weather-display { 

    @include mobile {
        background: deeppink;
    }
    &__name {
        text-align: center;
        font-size: 75px;
        margin: 0;
        font-weight: normal;

        @include mobile {
            font-size: 100px;
        }
    }
    
    &__time {
        text-align: center;
        font-size: 25px;
        text-transform: uppercase;
        margin: 0 0 15px 0;
        opacity: $opacity;
    }

    &__icon {
        width: 50%;
        float: left;
        padding-top: 30px;

        > .wi {
            width: 100%;
            text-align: center;
            font-size: 115px;
            margin: 20px 0;
        }

        &-label {
            width: 100%;
            text-align: center;
            text-transform: capitalize;
            opacity: $opacity;

            @include tablet {
                font-size: 20px;
            }
        }

    }

    &__temp {
        width: 50%;
        float: left;

        sup{
            font-size: 0.6em;
        }
        &-main{
            width: 100%;
            font-size: 122px;
            text-align: center;
        }

        &-min , &-max{
            float: left;
            width: 50%;
            text-align: center;
            opacity: $opacity;
            line-height: 2.5;

            @include tablet {
                font-size: 20px;
            }
        }
    }

}